<launch>

    <node pkg="sbmpo_models" type="car_model" name="car_model" output="screen">
        <param name="runs" value="1"/>
        <param name="num_obstacles" value="4"/>
        <param name="obstacle_min_bound" value="1"/>
        <param name="obstacle_max_bound" value="7.5"/>
    </node>

</launch>
